body {
	padding-top: 60px;
}
@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
}
.sidebar-nav {
	padding: 9px 0;
}
.hero-unit {
	padding: 20px;
	margin-bottom: 0px;
	overflow: auto;
}
#chat-signup, #chat-login, #chat-input {
	margin-top: 15px;
	display: none;
}
.alert {
	margin-top: 15px;
	display: none;
}
.gen-pop, .buddies {
	font-size: 18px;
	font-weight: 200;
}
.gen-pop li {
	cursor: pointer;
}
#exit_buttons {
	display: none;
}
#myID {
	margin-right: 5px;
}
footer {

}