body {
	padding-top: 60px;
}
@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
}
.sidebar-nav {
	padding: 9px 0;
}
.hero-unit {
	padding: 20px;
	margin-bottom: 0px;
	overflow: auto;
}
#chat-signup, #chat-login, #chat-input {
	margin-top: 15px;
	display: none;
}
.alert {
	margin-top: 15px;
	display: none;
}
#current-room, #gen-pop, #buddies {
	font-size: 18px;
	font-weight: 200;
}
#current-room li, #gen-pop li, #buddies li {
	cursor: pointer;
}
#exit_buttons {
	display: none;
}
#myID {
	margin-right: 10px;
}
#info {
	margin-left: 5px;
}
.glowing {
	text-shadow: 0 0 0.4em #00FFFF;
}
footer {

}